.mark {
  display: inline-block;
  flex: none;
  line-height: 0;
}

.mark img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}

.dark {
  display: none !important;
}

:global(html[data-theme='dark']) .light {
  display: none;
}

:global(html[data-theme='dark']) .dark {
  display: block !important;
}
